.tables-container {
    display: flex;
    justify-content: space-between;
}

.table-wrapper {
    flex: 1;
    margin: 0 10px;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

    .table th, .table td {
        border: 1px solid #ccc;
        padding: 8px;
        text-align: left;
    }

    .table th {
        background-color: #f4f4f4;
    }

.btn-group {
    display: flex;
    justify-content: center;
}
.prdBtns a {
    font-size: 65% !important;
    padding: 0px !important;
      margin:  1px;
}