
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"   />
    <title>ErrorLogin</title>
</head>
<body>
    <div style="display:flex">
        <h1 style="text-align:center; align-content:center;">!oops it seems that you have made a mistake in your data</h1>
        <br />
        <a style="text-align:center" type="button" class="btn btn-primary" href="../Login">go back</a>
    </div>
</body>
</html>
