@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/styleLogin.css" asp-append-version="true" />
    <title>ErrorLogin</title>
</head>
<body>
    <div class="error-container">
        <div class="error-content">
            <img src="~/images/error.png" alt="Error" class="error-image">
            <h1 class="error-title">Oops, it seems that you have made a mistake in your data</h1>
            <a class="btn btn-primary mt-3" href="../Login">Go back</a>
        </div>
    </div>
</body>
</html>
