@model PruebaTecnicaWebMaster.Models.Sale

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Sale</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdSale" />
            <div class="form-group">
                <label asp-for="Client" class="control-label"></label>
                <input asp-for="Client" class="form-control" disabled readonly />
                <span asp-validation-for="Client" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" disabled readonly />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MailClient" class="control-label"></label>
                <input asp-for="MailClient" class="form-control" disabled readonly />
                <span asp-validation-for="MailClient" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalPrice" class="control-label"></label>
                <input asp-for="TotalPrice" class="form-control" disabled readonly />
                <span asp-validation-for="TotalPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreationDate" class="control-label"></label>
                <input asp-for="CreationDate" class="form-control" disabled readonly />
                <span asp-validation-for="CreationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaidDate" class="control-label"></label>
                <input asp-for="PaidDate" class="form-control" disabled readonly />
                <span asp-validation-for="PaidDate" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsPaid" disabled readonly /> @Html.DisplayNameFor(model => model.IsPaid)
                </label>
            </div>
            <br/>
            <div class="form-group">
                <input type="submit" value="Pay" class="btn btn-primary" />    |
                <a asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>

